@import url("https://fonts.googleapis.com/css2?family=Sono:wght@400;800&display=swap");

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sono", sans-serif;
}

body {
  background-color: red;
  background-image: url("./assets/background_image.jpg");

  /* background: linear-gradient(
    90deg,
    rgba(222, 66, 66, 1) 0%,
    rgba(212, 32, 32, 1) 94%
  ); */
  background-blend-mode: multiply;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

/* Spinner */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Páginas con Formularios */
.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.form__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  padding: 30px;
  width: 500px;
  border-radius: 13px;
}

.form__textBox {
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;
  width: 100%;
}

.form__btn {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  font-size: 1rem;
}

.form__google {
  background-color: #4285f4;
}

.form div {
  margin-top: 7px;
}

.form__item {
  margin-bottom: 5px;
}

.form__link,
.form__link a:visited {
  color: white;
}

.form__error {
  font-size: 0.8rem;
  font-weight: 800;
  color: #ff7b5a;
  text-align: end;
  position: absolute;
  bottom: 8px;
  right: 4px;
}

.form__box {
  width: 100%;
  position: relative;
}

/* Componente MovieCard */

.movies__container {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  padding-top: 30px;
  justify-content: space-around;
  color: #ddd;
  gap: 20px 15px;
}

.movie {
  margin: 5px;
  padding: 20px 5px 2px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-blend-mode: color;
  width: 270px;
  height: 400.1px;
  box-shadow: 10px 10px 10px #111;
  transition: background-color 0.25s linear;
  text-align: center;
  background-size: cover;
}
.movie:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.movie:hover .movie__title,
.movie:hover .movie__title-noposter,
.movie:hover .movie__description,
.movie:hover .movie__infos div,
.movie:hover .movie__rating {
  opacity: 1;
  transform: scale(1);
  color: #ddd;
}

.movie__title {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.24s ease-in 0, opacity 0.3s linear;
  text-transform: uppercase;
}

.movie__title-noposter {
  opacity: 1;
  color: black;
  text-transform: uppercase;
}

.movie__description {
  max-height: 200px;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.24s ease-in 0.05s, opacity 0.3s linear;
  text-overflow: ellipsis;
  overflow: hidden;
}

.movie__infos {
  display: grid;
  grid-gap: 10px 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.info__head {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
  font-weight: bold;
  font-size: 1.1em;
}

.movie__estreno {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.24s ease-in 0.25s, opacity 0.3s linear;
}

.movie__rating {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.24s ease-in 0.35s, opacity 0.3s linear;
}

.movie__buttons {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  border-radius: 10px;
}

.movie__btn:hover {
  color: red;
  cursor: pointer;
}

/* Componente Navbar */
.navbaritems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.logo span {
  text-transform: uppercase;
}

.logo-icon {
  margin-left: 0.2rem;
  font-size: 2.2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  display: flex;
}

.nav-links span {
  padding-left: 6px;
}

.nav-links:hover,
.nav-links.active:hover {
  background: rgb(136, 30, 30);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-links.active {
  background: rgba(177, 174, 174, 0.25);
  backdrop-filter: blur(20px);
}

.menu-icons {
  color: #fff;
  display: none;
}

.nav-links-mobile {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: #fafafa;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #222;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    font-size: 1rem;
  }
  .navbaritems .logo,
  .navbaritems .logo-icon {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 850px) {
  .navbaritems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.05);
    /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
    /*backdrop-filter: blur(4px);*/
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
  }

  .nav-links {
    display: block;
    widows: 100%;
    padding: 2rem 0;
    color: white;
  }

  .nav-links:hover,
  .nav-links.active:hover {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }

  .menu-icons {
    display: block;
  }

  .nav-links-mobile {
    padding: 1.5rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .navbaritems .logo span {
    display: none;
  }
}
/* Componente SearchBar */
.search-box {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  width: 500px;
}

.search-box input {
  height: 100%;
  width: 100%;
  border: 1px solid #000;
  background: #fff;
  font-size: 18px;
  border-radius: 50px;
  padding: 0 60px 0 50px;
}

.search-box input[type="text"]:focus {
  outline: black solid 3px;
}

.search-box .search-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  color: #fff;
  background: #000;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s linear;
}

.search-box .cancel-btn {
  position: absolute;
  top: 50%;
  right: -40px;
  left: 6px;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  color: #fff;
  background: #000;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s linear;
}

.search-box .search-btn[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.search-box .cancel-btn[disabled] {
  pointer-events: none;
  opacity: 0;
}

.search-results {
  margin-top: 10px;
  color: white;
}

/* Popup de comentarios de Peliculas*/
.popup {
  position: fixed;
  background: #000000aa;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}

.popup__box {
  position: relative;
  width: 70%;
  width: 700px;
  margin: 0 auto;
  height: auto;
  max-height: 85vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #000;
  border-radius: 4px;
  border: 1px solid #999;
  overflow: auto;
}

.popup__closebtn {
  line-height: 20px;
  border: 1px solid #999;
  position: absolute;
  top: 20px;
  right: 5px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  color: #fff;
  background: red;
  font-size: 15px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s linear;
}

.popup__movie {
  width: 100%;
  min-height: 200px;
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  gap: 15px;
}

.popup__infos {
  display: flex;
  justify-content: space-around;
  font-weight: 800;
}

.popup___form {
  margin: 20px;
}

.popup__textarea {
  width: 94%;
  height: 80px;
  resize: none;
  margin-bottom: 10px;
  padding: 10px;
}

.popup__button {
  background-color: red;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.popup__list {
  margin-top: 20px;
  padding: 10px;
}

.popup__item {
  color: white;
  margin-bottom: 10px;
  border-bottom: 1px solid red;
  padding-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}
.popup__comment {
  align-self: flex-start;
}

.popup__details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 0.7rem;
  color: #d3d3d3;
  align-items: center;
}

.popup__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup__photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

/* Páginas ruteadas*/
.page-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card de la página User*/
.carduser {
  background-color: black;
  color: white;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.carduser__profile {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.carduser__picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.carduser__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  width: 60%;
}

.carduser__username {
}

.carduser__email {
  font-size: 0.9rem;
}

.carduser__stats {
  display: flex;
  justify-content: space-around;
}

.carduser__stat {
  margin-bottom: 10px;
}

.carduser__icon {
  font-size: 16px;
}

.carduser__value {
  font-size: 0.9rem;
}

.carduser__btns {
  display: flex;
  justify-content: space-around;
}

.carduser__btn-logout,
.carduser__btn-photo {
  background-color: red;
  font-size: 0.8em;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 38%;
}

@media screen and (max-width: 800px) {
  .popup__box {
    width: 90vw;
  }
}

@media screen and (max-width: 550px) {
  .carduser {
    width: 90vw;
  }
  .search-box {
    width: 90vw;
  }
  .search-box input {
    font-size: 0.8rem;
  }
  .form__container {
    width: 90vw;
  }
}
